<footer class="footer">
  <div class="outer">
    <div class="float-right">
      <%- partial('post/busuanzi') %>
    </div>
    <ul class="list-inline">
      <li>&copy; <%= date(new Date(), 'YYYY') %> <%= config.title %></li>
      <li><%= __('Powered by') %> <a href="http://jingyan.space" target="_blank">HSetNx</a></li>
      <li></li>
    </ul>
  </div>
</footer>
